.itemsFormContainer{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.itemsSubmitForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(175, 175, 175);
    color: black;
    gap: 4px;
    border-radius: 3px;
}

.itemsSubmitForm h3{
    font-size: 1.5rem;
}

.itemsSubmitForm label{
    font-size: 1.1rem;
    font-weight: 500;
}

.itemsSubmitForm input{
    font-size: 1.1rem;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}

.itemsFormSubmitButton{
    align-self: flex-end;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 3px;
    margin-top: 12px;
    background-color: rgb(65, 65, 65);
    color: white;
    transition: background-color .075s ease;
}

.itemsFormSubmitButton:hover{
    background-color: rgb(75, 75, 75);
}

.listaDeElementos{
    padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    gap: 4px;
    margin-bottom: 0;
    background-color: rgb(175, 175, 175);
    color: black;
}

.listaDeElementos li{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    cursor: default;
    gap: 8px;
}

.listaDeElementos li input{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 19px;
    padding: 4px;
    background-color: transparent;
}

.listaDeElementos li input:focus{
    background-color: rgba(255, 255, 255, 0.87);
}

.priceInput{
    text-align: end;
}

.trashIcon{
    display: flex;
    padding: .2rem;
    margin-left: auto;
    border: 2px solid black;
    border-radius: 3px;
}

.trashIcon:hover{
    background-color: rgba(255, 255, 255, 0.87);
}